﻿
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>BeyondM</title>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/bootstrap-theme.min.css">
    <script src="resources/js/jquery.min.js"></script>






</head>


<body style="background-image: url('resources/images/Management-Team-Panamax_Inc.jpg');background-repeat: no-repeat">


<!--container 1 -->


</div>

<div class="container-lg" id="login">
    <div class="container">


        <div class="row">
            <center>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <br><br><br><br><br>
                    <center>
                        <div class="form-group"
                             style="background:#ffffff;width:400px;margin:10px;padding:20px;border-radius:20px;">
                            <br><br>
                            "<img src="resources/images/BeyondM-2016-final.svg" width="300px"></img>"
                            <br>
                            <br><font face="arial" size="4px"><b>Welcome To Daily Task Management System</b></font>
                            <hr width="50%" color="black"></hr>
                            <font face="arial" size="3px" style="color:#7f7f7f">Please sign in with your
                                credentials</font><br><br>
                            <form action="newaccountServlet" method="post" name="newaccountForm"
                                  onsubmit="return form_validate()">

                                <center>
                                    <input type="text" class="form-control" name="email" placeholder="Email"><br>

                                    <input type="password" class="form-control" name="password"
                                           placeholder="Password"><br>


                                    <button type="submit" class="btn" style="background:#fca402">LogIn</button>
                                    <br><br><font size="2px">Forgot your password?</font><br>
                            </form>
                            <br>
                            <hr width="50%"></hr>


                        </div>
                        <div class="col-md-4"></div>
                </div>

        </div>
        <br><br><br><br><br><br><br><br>
    </div>


    <div class="container-lg" style="background:#171f2b;position:absolute;bottom:0px; width:100%">

        <div class="container">


            <div class="row">


            </div>


            <div class="row">


                <div class="col-md-12"><br><font color="#ffffff" size="1px">© 2018 BeyondM. All Rights
                    Reserved.</font><br><br></div>
                </center>

            </div>

        </div>


</body>
</html>